
.chat-container{
    width: 95%;
    height: 100vh;
    max-width: 1000px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


.chat {
    max-height: 100vh;
    background: linear-gradient(#596AFF, #383699);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lording {
    font-size: 24px;
    color: white;
}