
.chat-container{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 320px 1fr 320px;
}


.chat {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lording {
    font-size: 24px;
    color: white;
}